.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.tooltip {
    position: absolute;
    font-size: 13px;
    min-width: 100px;
    padding: 10px;
    pointer-events: none;
    background-color: white;
    /*font-weight: bold;*/
    text-align: center;
    border-radius: 5px;
}

.button:focus {
    outline: 0 !important;
}

/* Include any custom CSS styling here! */
